@model IsasWebPortal.Models.FormTemplates

        <div class="form-group">
            @Html.LabelFor(model => model.formName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.formName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.formName,"" , new { @class = "text-danger" })
            </div>
        </div>

        <div id="attribute1"  div class="form-group">
    @Html.LabelFor(model => model.attribute1, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.attribute1, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.attribute1,"" , new { @class = "text-danger" })
    </div>
</div>

        <div id="attribute2" div class="form-group">
    @Html.LabelFor(model => model.attribute2, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.attribute2, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.attribute2,"" , new { @class = "text-danger" })
    </div>
</div>

        <div id="attribute3"  div class="form-group">
    @Html.LabelFor(model => model.attribute3, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.attribute3, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.attribute3,"" , new { @class = "text-danger" })
    </div>
</div>

@Html.HiddenFor(model => model.Id)


        <div id="attribute4"  div class="form-group">
    @Html.LabelFor(model => model.attribute4, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.attribute4, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.attribute4,"" , new { @class = "text-danger" })
    </div>
</div>

        <div id="attribute5"  div class="form-group">
    @Html.LabelFor(model => model.attribute5, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.attribute5, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.attribute5,"" , new { @class = "text-danger" })
    </div>
</div>

        <div id="attribute6"  div class="form-group">
    @Html.LabelFor(model => model.attribute6, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.attribute6, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.attribute6,"" , new { @class = "text-danger" })
    </div>
</div>

        <div id="attribute7"  div class="form-group">
    @Html.LabelFor(model => model.attribute7, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.attribute7, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.attribute7, "", new { @class = "text-danger" })
    </div>
</div>

        <div id="attribute8"  div class="form-group">
    @Html.LabelFor(model => model.attribute8, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.attribute8, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.attribute8, "", new { @class = "text-danger" })
    </div>
</div>

        <div id="attribute9"  div class="form-group">
    @Html.LabelFor(model => model.attribute9, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.attribute9, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.attribute9, "", new { @class = "text-danger" })
    </div>
</div>

        <div id="attribute10"  div class="form-group">
    @Html.LabelFor(model => model.attribute10, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.attribute10, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.attribute10, "", new { @class = "text-danger" })
    </div>
</div>

        <div id="attribute11"  div class="form-group">
    @Html.LabelFor(model => model.attribute11, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.attribute11, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.attribute11, "", new { @class = "text-danger" })
    </div>
</div>

        <div id="attribute12"  div class="form-group">
    @Html.LabelFor(model => model.attribute12, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.attribute12, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.attribute12, "", new { @class = "text-danger" })
    </div>
</div>

        <div id="attribute13"  div class="form-group">
    @Html.LabelFor(model => model.attribute13, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.attribute13, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.attribute13, "", new { @class = "text-danger" })
    </div>
</div>

        <div id="attribute14" div class="form-group">
    @Html.LabelFor(model => model.attribute14, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.attribute14, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.attribute14, "", new { @class = "text-danger" })
    </div>
</div>

        <div id="attribute15" class="form-group">
    @Html.LabelFor(model => model.attribute15, htmlAttributes: new { @class = "control-label col-md-2" })
    <div id="attribute15" class="col-md-10">
        @Html.EditorFor(model => model.attribute15, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.attribute15, "", new { @class = "text-danger" })
    </div>
</div>



        <div id="ddlPassport" onchange="ShowHideDiv()"  onclass="    form - group">
    @Html.LabelFor(model => model.formTypeId, "formTypeId", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="editor-field">
        @Html.DropDownList("formTypeId", null, htmlAttributes: new { @class = "form-control" })
        @*Html.DropDownListFor(model => model.formTypeId, (SelectList)ViewBag.formTypeId, new { onChange = "OnDeleteClick();", @id = "municipalityDropDown" })*@
        @Html.ValidationMessageFor(model => model.formTypeId, "", new { @class = "text-danger" })


    </div>
</div>



@section Scripts {
  
    @Scripts.Render("~/Scripts/formAttributes.js")



@*
<script src="../../Scripts/jquery-1.4.4.js" type="text/javascript"></script>

<script type="text/javascript">

    $(document).ready(function () {

        $('#formTypeId').change(OnDeleteClick);

    });



   
</script>*@
}









  









