@model IEnumerable<IsasWebPortal.Models.FormTypes>

@{
    ViewBag.Title = "Index";
}
<style type='text/css'>
    /*設定 數字靠右*/
    td:nth-child(1n){text-align: right;}
    td:nth-child(2n){text-align: right;}
    td:nth-child(3n){text-align: right;}
</style>
<h2>Index</h2>
<h4>FormTypes</h4>
<p>
    @Html.ActionLink("Create New", "FormTypesCreate")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.formType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numberOfAttributes)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "FormTypesEdit", new { id=item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.formType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numberOfAttributes)
        </td>

    </tr>
}

</table>
