@model IEnumerable<IsasWebPortal.Models.Stage>

@{
    ViewBag.Title = "Index";
}
<style type='text/css'>
    /*設定 數字靠右*/
    td:nth-child(3n){text-align: right;}
    td:nth-child(5n){text-align: right;}
</style>
<h2>Index</h2>
<h4>Stage</h4>
<p>
    @Html.ActionLink("Create New", "StageCreate")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sequenceNumber)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "StageEdit", new { id=item.StageId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sequenceNumber)
        </td>

    </tr>
}

</table>
